<%- include('../partials/header.ejs') %>

<h1>Nouvel arbre</h1>

<form action="/trees/news" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label">Nom</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Nom scientifique</label>
    <input type="text" name="scientific_name" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Categorie</label>
    <input type="text" name="category" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="description" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="file" name="image" class="form-control" accept="image/*" required>
  </div>
  <div class="mb-3">
    <label class="form-label">CO2</label>
    <input type="number" name="co2" class="form-control" step="1">
  </div>
  <div class="mb-3">
    <label class="form-label">O2</label>
    <input type="number" name="o2" class="form-control" step="1">
  </div>
  <div class="mb-3">
    <label class="form-label">Prix</label>
    <input type="number" name="price" class="form-control" step="0.01">
  </div>
  <div class="mb-3">
    <label class="form-label d-block">Forêts</label>
    <% forests.forEach(forest => { %>
      <div class="form-check mb-2">
        <input type="checkbox" name="forestAssociations[<%= forest.id %>][checked]" value="true" class="form-check-input" id="forest-<%= forest.id %>">
        <label for="forest-<%= forest.id %>" class="form-check-label"><%= forest.name %></label>
        <input type="number" name="forestAssociations[<%= forest.id %>][stock]" class="form-control mt-1" placeholder="Stock" min="1">
      </div>
    <% }) %>
  </div>
  
  
  <button type="submit" class="btn btn-success">Créer</button>
</form>

<%- include('../partials/footer.ejs') %>