<%- include('../partials/header.ejs') %>

<h1>Modifier la commande</h1>

<form method="POST" action="/orders/<%= order.userId %>?_method=PATCH">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="mb-3">
    <label class="form-label">Id de l'utilisateur</label>
    <input type="text" name="userId" value="<%= order.userId %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Prix total</label>
    <input type="text" name="totalPrice" value="<%= order.totalPrice %>" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Statut de la commande</label>
    <input type="text" name="status" value="<%= order.status %>" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Créée le :</label>
    <textarea name="createdAt" class="form-control"><%= order.createdAt %></textarea>
  </div>
  <!-- <div class="mb-3">
    <label class="form-label">Mise à jour le :</label>
    <input type="number" name="updatedAt" value="<%= order.updatedAt %>" class="form-control">
  </div>   -->
  <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>

<%- include('../partials/footer.ejs') %>
